.App {
  min-height: 3000px;
}
.navbar {
  box-shadow: 0px 3px 7.5px #0000001a;
}
[type="search"]:focus {
  border-color: #dee2e6 !important;
  box-shadow: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
